
#zoneProposition span{
    font-weight:bold;
}

body{
    font-family: "Special Elite", system-ui;
    color:orange;
    font-weight: 10px;
    font-size:16px;
    display: flex;
    margin:auto;
    flex-direction: column;
    align-items: center;
 }

 h1{
    font-size:50px;
    margin-bottom:20px;
 }

 h2{
    font-size:25px;
 }

 p {
    text-align: center;
 }
 .overall-framing{
    background-color: pink;
    width: 600px;
    border-radius: 25px;
    color:white;
    padding:10px 60px 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
 }

 input, .display-generatedtext{
    border-radius: 8px;
    padding:10px 20px;
    border:none;
    background-color: white;
    font-family:"Special Elite", system-ui; 
    size:10px;
 }

 .display-generatedtext{
    padding: 30px 200px;
    color:orange;
    transition:0.6s ease-out;
    text-align: center;
 }

 .display-generatedtext:active{
   margin-left: 100px;
 }

 #submitButton:hover {
    background:linear-gradient( hsl(324, 37%, 67%), hsl(4, 62%, 73%));
    cursor:pointer;

 }

 #submitButton:active{
    box-shadow: 2px 2px 5px #fc894d
 }