
#zoneProposition span{
    font-weight:bold;
}

body{
    font-family: "Special Elite", system-ui;
    color:orange;
    font-weight: 10px;
    font-size:16px;
    display: flex;
    margin:auto;
    flex-direction: column;
    align-items: center;
 }

 h1{
    font-size:50px;
    margin-bottom:20px;
 }

 h2{
    font-size:25px;
 }

 p {
    text-align: center;
 }
 .overall-framing, .overlay-popup,.popup-section, .size-container{
    background-color: pink;
    width: 600px;
    border-radius: 25px;
    color:white;
    padding:10px 60px 0px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
 }

.row-radioWords, .row-radioSentences, .row-formRadio, .user-insert{
   display: flex;
   flex-direction: row;
   width: 90%;
}
 input, .display-generatedtext{
    border-radius: 20px;
    padding:10px 20px;
    border:none;
    background-color: white;
    font-family:"Special Elite", system-ui; 
    size:10px;
 }

 .display-generatedtext{
    padding: 30px;
    width: 80%;
    color:orange;
    transition:0.6s ease-out;
    text-align: center;
 }

 .display-generatedtext:active{
   margin-left: 100px;
 }

 #sentButton:hover, #sharedButton:hover, #submitButton:hover {
    background:linear-gradient( hsl(324, 37%, 67%), hsl(4, 62%, 73%));
    cursor:pointer;

 }

 #sharedButton{
   padding:15px 25px;
   margin-top:-15px;
 }

 #sentButton{
   margin-top:10px;
 }

 #submitButton:active{
    box-shadow: 2px 2px 5px #fc894d
 }

 form, .boxname, .emailbox{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap:14px;
   width: 55%;
 }


#email,#user-name{
   width: 370%;
}

#usertypings{
   width:74%;
   height:20px;
}

.user-insert{
   gap:10px;
}

.overlay-popup{
   display: none;
   position: absolute;
   top: 40%;
   gap:10px;
   width: 270px;
   height:270px;
   box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
   background: rgba(175, 95, 80, 1);
}


.emailbox label, .boxname label{
   text-wrap: nowrap;
}
